.large-hypnotist-menu {
    padding-top: .2rem;
}
.large-hypnotist-menu div {
    margin: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    background-color: var(--primary-color);
}
.large-hypnotist-menu > div:first-child {
}