.disabled-role-selector-area {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-color);
    border: .13rem solid var(--primary-border-color);
    border-top-color: var(--primary-border-shadow-color);
    border-left-color: var(--primary-border-shadow-color);
    border-radius: .5rem;
    margin: .13rem 0;
}
.disabled-role-selector-area > select {
    flex-grow: 1;
    width: 5rem;
}
.placard {
    display: inline-block;
    background-color: var(--primary-color);
    border: .13rem solid var(--primary-border-color);
    padding: .13rem .25rem;
    margin: .13rem;
    border-radius: .25rem;
    white-space: pre;
}
.placard.disabled {
    background-color: var(--secondary-color);
}

.modifier-settings-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.modifier-config-popover {
    background-color: var(--background-color);
    border: .13rem solid var(--primary-border-color);
    border-radius: .25rem;
    padding: .13rem;
    min-width: fit-content;
}
.modifier-config-popover .role-list-setter-list {
    overflow-y: auto;
    max-height: 20rem;
}
.custom-role-limit-selection {
    display: flex;
    flex-direction: row;
}
.custom-role-limit-selection > .custom-select {
    flex-grow: 1;
}
.custom-role-limit-selection > input {
    width: 3rem;
}
.select-role-to-add {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.custom-role-set-selection {
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    border: .13rem solid var(--primary-border-color);
    border-radius: .25rem;
    background-color: var(--background-color);
}
.sub-role-set {
    width: 100%;
    min-width: 20rem;
    border: .13rem solid var(--primary-border-color);
    border-radius: .25rem;
    background-color: var(--background-color);
}
.sub-role-set-role-set {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sub-role-set .role-list-setter-list > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sub-role-set .role-list-setter-list > div > .role-outline-option-selector {
    flex-grow: 1;
}