.game-modes-editor {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.game-modes-editor > header {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
}

.game-modes-editor > header > .selector-section {
    flex: 1 1 auto;
}

.game-modes-editor > main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    scrollbar-width: none;
}

.game-modes-editor > main > div {
    display: flex;
    flex-direction: column;
    flex-basis: 47%;
    flex-grow: 1;
    max-width: 100%;
    overflow: auto;
}

.game-modes-editor > main > div > .selector-section:last-child {
    flex-grow: 1;
}