.game-modes-editor {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.game-modes-editor > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.game-modes-editor input {
    min-width: 3rem;
}

.game-modes-editor > main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: none;
}

.game-modes-editor > main > div {
    display: flex;
    flex-direction: column;
    flex-basis: 47%;
    flex-grow: 1;
    max-width: 100%;
}