.game-modes-editor {
    display: flex;
    flex-direction: column;
    gap:var(--medium-space);
    width: 100%;
}

.game-modes-editor > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: var(--medium-space);
}

.game-modes-editor input {
    min-width: 3rem;
}

.game-modes-editor > main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--large-space);
    overflow-y: scroll;
    scrollbar-width: none;
}

.game-modes-editor > main > div {
    display: flex;
    flex-direction: column;
    flex-basis: 47%;
    flex-grow: 1;
    gap:var(--medium-space);
    max-width: 100%;
}