.selector-section {
    background-color: var(--background-color);
}

.selector-section-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem;
    font-weight: bold;
    font-size: 1.125rem;
}
.selector-section-header > button:first-of-type {
    margin-left: 0.5rem;
}

.selector-section-header > * {
    font-size: 1rem;
}