.selector-section {
    background-color: var(--background-color);
    border: solid var(--extra-small-space) var(--background-border-color);
    border-bottom-color: var(--background-border-shadow-color);
    border-right-color: var(--background-border-shadow-color);
    border-radius: var(--large-space);
    padding: var(--large-space);
}

.selector-section > h2 {
    margin-bottom: var(--small-space);
}