.header-menu .menu-buttons{
    display: flex;
    justify-content: center;
}
.header-menu .menu-buttons button {
    margin: .2%;
    margin-bottom: 0;
    min-width: 10%;
    padding-right:var(--medium-space);
    padding-left:var(--medium-space);
    border-bottom: 0;
    border-radius: var(--medium-space)var(--medium-space) 0 0;
    background-color: var(--primary-color);
    overflow-x: hidden;
}
.menu-buttons button{
    position: relative;
}
.header-menu .menu-buttons button:hover {
    background-color: var(--hover-color);
}
.header-menu {
    position: relative;
    background-size:auto;
}
.header-menu.background-day{
    background-position: center;
    background-repeat: repeat;
    background-image: url('../../../public/images/day.png');
}
.header-menu.background-night{
    background-position: center;
    background-repeat: repeat;
    background-image: url('../../../public/images/night.png');
}
.header-menu > .information {
    padding: var(--small-space);
    display: flex;
    flex-direction: column;
    gap: var(--small-space);
}
.header-menu > .information > .my-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
}.header-menu > .information > .my-information > div {
    width: fit-content;
    background-color: var(--background-color);
    border-color: var(--primary-border-color);
    border-width: var(--extra-small-space);
    border-style: solid;
    border-radius: var(--medium-space);
    padding: var(--extra-small-space) var(--small-space);
}

.header-menu .phase-specific {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-menu .phase-specific > div {
    width: fit-content;
    background-color: var(--background-color);
    border-width: var(--extra-small-space);
    border-style: solid;
    border-radius: var(--medium-space);
    padding: var(--extra-small-space) var(--small-space);
}
.header-menu .judgement-info > button{
    width: max-content;
    padding: var(--extra-small-space) var(--extra-small-space);
    margin: var(--extra-small-space);
} 
.menu-buttons .chat-notification{
    font-size: 0.83rem;
    height: 0.83rem;
    aspect-ratio: 1;
    background-color: var(--primary-color);
    position: absolute;
    padding: 0 0 var(--large-space) 0;
    border-width: var(--extra-small-space);
    border-style: solid;
    border-radius: 50%;
    top: 0;
    right: 0;
}
.header-menu .fast-forward-button {
    position: absolute;
    left: var(--small-space);
    top: var(--small-space);
}