.multiple-controllers-menu {
    background-color: var(--tertiary-color);
}
.generic-ability-menu-tab-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.generic-ability-menu-tab-no-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--secondary-color);
}
.generic-ability-menu-tab-no-summary > span{
    display: inline-flex;
}