.role-information {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: space-between;
}
.role-specific-section {
    background-color: var(--secondary-color);
}