
.global-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0.38rem;
    top: 2.75rem;
    height: fit-content;
    min-width: fit-content;
    box-shadow: 0 var(--medium-space) #0007;

    
    background-color: var(--background-color);

    z-index: 100;
}

.global-menu > section {
    display: flex;
    flex-direction: column;
}

.global-menu > section.standout {
    background-color: var(--secondary-color);
}

.global-menu button {
    display: flex;
    flex-direction: row;
}

@media (prefers-reduced-motion = no-preference) {
    .global-menu {
        /* Start off the page and slide in */
        transform: translateX(100%);
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
    }
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}