.settings-menu-card {
    display: flex;
    flex-direction: column;
    gap:var(--medium-space);
    width: 100%;
}

.settings-menu-card > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: var(--medium-space);
}

.settings-menu-card input {
    min-width: 3rem;
}

.settings-menu-card > main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--large-space);
    overflow-y: scroll;
    scrollbar-width: none;
    align-items: flex-start;
}

.settings-menu-card > main > div {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    flex-grow: 1;
    gap:var(--medium-space);
    max-width: 100%;
    padding: var(--large-space);
    background-color: var(--background-color);
    border: var(--extra-small-space) solid var(--primary-border-color);
    border-bottom-color: var(--primary-border-shadow-color);
    border-right-color: var(--primary-border-shadow-color);
    border-radius: var(--large-space);
}
.settings-menu > div > section {
    display: flex;
    flex-direction: column;
    border: solid var(--extra-small-space) var(--primary-border-color);
    border-top-color: var(--primary-border-shadow-color);
    border-left-color: var(--primary-border-shadow-color);
    border-radius: var(--medium-space);
    padding: var(--medium-space);
    background-color: var(--secondary-color);
    align-items: center;
}

.settings-menu .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}