.settings-menu-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.settings-menu-card > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.settings-menu-card input {
    min-width: 3rem;
}

.settings-menu-card > main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: none;
    align-items: flex-start;
}

.settings-menu-card > main > div {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    flex-grow: 1;
    max-width: 100%;
    background-color: var(--background-color);
}
.settings-menu > div > section {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    align-items: center;
}

.settings-menu .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}