@media only screen and (max-width: 600px) {
    .game-screen .content > .graveyard-menu {
        width: 100%;
    }
}
.role-list-button{
    text-align: left;
    text-wrap: wrap;
    border: 0;
    margin: 0;
    padding: 0;
}
.role-list-button:nth-last-child(even) {
    background-color: var(--primary-color);
}
.role-list-button:nth-last-child(odd) {
    background-color: var(--secondary-color);
}
.graveyard-menu label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}