@media only screen and (max-width: 600px) {
    .game-screen .content > .graveyard-menu {
        width: 100%;
    }
}
.role-list-button{
    text-align: left;
    text-wrap: wrap;
    border: 0;
    margin: 0;
    padding: 0;
}
.role-list-button:nth-last-child(even) {
    background-color: var(--primary-color);
}
.role-list-button:nth-last-child(odd) {
    background-color: var(--secondary-color);
}
.graveyard-menu label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.graveyard-menu-excludedRoles .enabled-roles-button-panel {
    margin: 0;
}
.graveyard-menu-excludedRoles .enabled-roles-button-panel {
    border-radius: 0;
    border: none;
}
.graveyard-menu-excludedRoles .details-summary-summary-container {
    display: inline-flex;
}
.graveyard-menu-excludedRoles .enabled-roles-summary-span {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}
.graveyard-menu-excludedRoles .details-summary-summary-container button {
    visibility: hidden;
    margin: 0;
    padding: 0;
}
.graveyard-menu-excludedRoles .details-summary-summary-container.open button {
    visibility: visible;
}