@media only screen and (max-width: 600px) {
    .game-screen .content > .player-list-menu {
        width: 100%;
    }
}


.player-list-menu {
    display: flex;
    flex-direction: column;
}
.player-list-menu .player-list {
    display: flex;
    flex-direction: column;
}



.player-list-menu .dead-players-separator {
    background-color: var(--secondary-color);
    margin: 2rem 0 0;
}

.player-list-menu .player.highlighted {
    outline: var(--extra-small-space) solid yellow;
}
.player-list-menu .player .voted-popup {
    position: relative;
    top: 0;
}
.player-list-menu .playerTags{
    font-size: 1.125em;
}
.player-list-menu .phase-specific{
    background-color: var(--primary-color);
}


.player-card {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 var(--extra-small-space);
    position: relative;
}
.player-card > button{
    position: relative;
}
.player-card > .player-name-plate {
    flex-grow: 1;
}

.player-list-menu .player-list-chat-message-section{
    height: 10rem;
}

.player-list-menu .player-card-holder:nth-last-child(even) {
    background-color: var(--primary-color);
}
.player-list-menu .player-card-holder:nth-last-child(odd) {
    background-color: var(--secondary-color);
}

.player-card .chat-notification{
    font-size: 0.83rem;
    height: 0.83rem;
    aspect-ratio: 1;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    right: 0;
}