
.lm {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    align-items: center;
    position: relative;
}

.lm > div {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    flex-shrink: 1;
}

.lm > div > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 1.25em;
    padding: 0.5rem;
    padding-right: 3rem;
}

.lm > div > header div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.lm > div > header > * {
    max-width: 100%;
}

input.lobby-name-field {
    font-size: 1.4625rem; /* h3 tags by default multiply this 1.25 by 1.17, making 1.4625. */
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .lm > div > header {
        justify-content: center;
    }
}

.lm > div > main ol {
    list-style: none;
}

.lm > div > main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow: hidden;
    border: 0.13rem solid var(--background-border-color);
    border-bottom: none;
    background-color: var(--background-color);
}

.lm > div > main > div {
    display: flex;
    flex-direction: column;
    flex-basis: 47%;
    max-width: 100%;
    flex-grow: 1;
    height: 100%;
}

.lm > div > main > .vertical-line-separator {
    border-left: 0.13rem solid var(--background-border-color);
    height: 100%;
    margin: 0 0;
    width: 0;
    flex-grow: 0;
    flex-basis: 0;
}

.lm > div > main > div:first-child {
    flex-basis: 15rem;
}

.lm > div .name-box {
    display: flex;
    flex-direction: row;
}

.lm > div .name-box input {
    width: 100%;
}

.lobby-name-pane {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0.5rem;
}
.lobby-name-pane > .name-pane-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lobby-name-pane > .name-pane-buttons {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-items: center;
    justify-content: stretch;
}
.lobby-name-pane > .name-pane-buttons > .ready-up-button {
    border-top-color: #368036;
    border-left-color: #368036;
    border-right-color: #003300;
    border-bottom-color: #003300;
    background-color: darkgreen;
}
.lobby-name-pane > .name-pane-buttons > .ready-up-button:hover {
    background-color: #007000;
}
.lobby-name-pane > .name-pane-buttons > .ready-up-button.depressed {
    background-color: #004400;
    border-top-color: var(--primary-border-shadow-color);
    border-left-color: var(--primary-border-shadow-color);
    border-right-color: var(--primary-border-color);
    border-bottom-color: var(--primary-border-color);
}

.lobby-name input {
    font-size: 1.5rem;
    font-weight: bold;
}

.lobby-player-list-section {
    height: 100%;
}

.lobby-player-list {
    background-color: var(--background-color);
    overflow: scroll;
    height: 100%;
}

.lobby-player-list > ol > h3 {
    padding: .25rem;
    background-color: var(--background-color);
}

.spectators-ready {
    text-align: center;
    margin: .5rem;
}

.lobby-player-list ol li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .13rem .25rem;
    gap: .5rem;
    align-items: center;
    min-height: 2em;
    background-color: var(--primary-color);
}

.lobby-player-list ol li:nth-of-type(even) {
    background-color: var(--secondary-color);
}

.lobby-player-list ol li > div {
    display: flex;
    flex-direction: row;
    gap: .25rem;
}

.lobby-player-list-player-rename {
    border: .13rem solid var(--background-border-color);
    background-color: var(--secondary-color);
    border-radius: .25rem;
    min-width: min-content;
}

.lobby-name-pane .flashing {
    animation: ready-flash 0.5s infinite;
}

.lobby-settings {
    overflow: auto;
}

.lobby-settings > .selector-section {
    overflow: hidden;
}

@keyframes ready-flash {
    0% { outline: none; }
    50% { outline: .13rem solid yellow; }
    100% { outline: none; }
}