.lobby-chat-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.lobby-menu-chat {
    background-color: var(--primary-color);
    height: 20em;
    overflow: auto;
    flex-grow: 1;
}