.button-popup {
    position: absolute;
    z-index: 99999999;
    transform: translateX(-50%);

    padding: var(--extra-small-space) var(--small-space);
    margin-top: var(--small-space);
    background-color: var(--secondary-color);
    border-radius: var(--small-space);
    border: var(--extra-small-space) solid var(--primary-border-color);
}