.counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.counter-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: .25em;
}

.counter-count .counter-circle {
    width: .75em;
    height: .75em;
    border-radius: .5em;
    background-color: var(--focus-outline-color);
}

.counter-count .counter-circle-empty {
    background: var(--secondary-color);
}