.details-summary-summary-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    background-color: var(--primary-color);
}
.details-summary-container{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}