.details-summary-summary-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: .13rem;
}
.details-summary-container{
    display: flex;
    flex-direction: column;
    margin: .13rem;
    padding: 0;
    background-color: var(--background-color);
    border: .13rem solid var(--primary-border-color);
    border-radius: 0.4rem;
    /* justify-content: left;
    align-items: center; */
}