.custom-select {
    position: relative; /* Position relative to contain absolute children */
    overflow: visible;
    
    display: inline-flex;
    flex-direction: row;
}

.custom-select-options-popover {
    position: absolute;
    min-width: max-content;
    overflow: hidden;

    background-color: var(--secondary-color);
}
.custom-select-options-popover > div > .button {
    width: 100%;
}
.custom-select-options {
    overflow-y: scroll;

    max-height: 25rem;
}
.custom-select-options > div{
    display: flex;
    flex-direction: column;
    min-height: max-content;
}